.page404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
}

.page404-title {
    font-size: 10rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.page404-content {
    font-size: 3rem;
    color: #ffffff;
}