.header {
    background-color: #fffefe; /* Светло-серый фон */
    padding: 30px 0 60px; /* Внутренние отступы сверху и снизу */
    border-bottom: 2px solid #9c9c9c; /* Нижняя граница для разделения с остальной страницей */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для легкого эффекта объемности */
    border-radius: 5px;
    position: relative;
}

/* Стили для компонента хедера */
.header-component {
    display: flex; /* Flexbox для выравнивания */
    align-items: center; /* Центрирование по вертикали */
    justify-content: space-between; /* Разделение заголовка и логотипа по краям */
    max-width: 1200px; /* Ограничение ширины */
    margin: 0 auto; /* Центрирование блока */
    padding: 0 20px; /* Внутренние отступы слева и справа */
}

/* Стили для названия */
.header-name h1 {
    font-size: 2rem; /* Размер шрифта */
    color: #333; /* Цвет текста */
    margin: 0; /* Убираем отступы */
    font-family: 'Arial', sans-serif; /* Шрифт для заголовка */
    font-weight: bold; /* Полужирное начертание */
}

/* Стили для логотипа */
.logo-img {
    max-width: 200px; /* Ограничение ширины изображения */
    height: auto; /* Автоматическое вычисление высоты для сохранения пропорций */
}

.login-name {
    position: absolute; /* Абсолютное позиционирование */
    bottom: 10px; /* Отступ снизу */
    right: 10px; /* Отступ справа */
    color: black; /* Цвет текста */
    background-color: rgba(255, 255, 255, 0.9); /* Белый фон с прозрачностью */
    padding: 5px 10px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); /* Тень для легкого эффекта объемности */
    font-size: 0.9rem; /* Размер шрифта */
    display: flex; /* Flexbox для горизонтального выравнивания */
    align-items: center; /* Вертикальное центрирование элементов */
}