/* Стили для блока с кнопками входа и регистрации */
.menu-login {
    display: flex; /* Flexbox для вертикального расположения */
    flex-direction: column; /* Вертикальное направление */
    align-items: center; /* Центрирование по горизонтали */
    gap: 10px; /* Пробел между элементами */
    height: 75vh;
}

/* Стили для приветственного сообщения */
.menu-login-welcome {
    color: #fff; /* Цвет текста */
    font-size: 3rem; /* Размер шрифта */
    margin-top: 10rem; /* Убираем отступы */
}

/* Стили для абзаца с ссылками */
.menu-login-log-reg {
    color: #e6e6e6; /* Цвет текста */
    font-size: 1.3rem; /* Размер шрифта */
    text-align: center; /* Центрирование текста */
    margin-bottom: 10rem;
}

/* Общие стили для ссылок */
.crud-menu__item {
    color: #fff; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 1.5rem; /* Размер шрифта */
    padding: 5px 10px; /* Внутренние отступы */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета фона и текста */
    border-radius: 4px; /* Скругление углов */
    background-color: #009dff; /* Цвет фона для активной ссылки */
    color: #fff; /* Цвет текста для активной ссылки */
}

/* Стили при наведении на ссылки */
.crud-menu__item:hover {
    background-color: #052335; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}

.auth-name {
    display: flex; /* Flexbox для вертикального расположения */
    flex-direction: column; /* Вертикальное направление */
    align-items: center; /* Центрирование по горизонтали */
    gap: 50px; /* Пробел между элементами */
    height: 75vh;
}

h1 {
    margin-top: 15vh;
    font-size: 2rem;
}