#root {
  /* max-width: 1980px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.body {
  position: relative;
}

.body .backgraund-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../public/Cloud.webp);
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}